@model GigHub.Core.ViewModels.GigsViewModel
@{
    ViewBag.Title = "Index";
}


<ul class="gigs voffset30">
    @foreach (var gig in Model.UpcomingGigs)
    {
        <li>
            <div class="gig-item">
                <div class="date">
                    <div class="month">
                        @gig.DateTime.ToString("MMM")
                    </div>
                    <div class="day">
                        @gig.DateTime.ToString("d ")
                    </div>
                </div>
                <div class="details">
                    <div class="row name-gig">
                        <span class="artist col-lg-8">
                            @if (@gig.IsCancel)
                            {
                                <span class="label label-warning">Canceled</span>
                            }
                            <a href="@Url.Action("Details", "Gigs", new {id = @gig.Id})">
                                @gig.Artist.Name
                            </a>
                        </span>
                        <div class="col-lg-4">
                            @if (Model.ShowActions)
                            {
                                if (Model.Followees.Contains(gig.ArtistId))
                                {
                                    <button data-user-id="@gig.ArtistId" class="btn btn-link btn-gig btn-sm pull-right js-toggle-follow">Unfollow</button>
                                }
                                else
                                {
                                    <button data-user-id="@gig.ArtistId" class="btn btn-link btn-sm btn-gig pull-right js-toggle-follow">Follow</button>
                                }
                            }
                        </div>
                    </div>

                    <div class="row genre-gig">
                        <span class="genre col-lg-8">
                            @gig.Genre.Name
                        </span>
                        @if (Model.ShowActions && !@gig.IsCancel)
                        {
                            <div class="col-lg-4">
                                @if (@Model.Attendacnes.Contains(gig.Id))
                                {
                                    <button data-gig-id="@gig.Id" class="btn btn-info btn-sm btn-gig pull-right js-toggle-attendance">
                                        I'm In
                                    </button>
                                }
                                else
                                {
                                    <button data-gig-id="@gig.Id" class="btn btn-default btn-sm btn-gig pull-right js-toggle-attendance">
                                        Going?
                                    </button>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
            <hr/>
        </li>
    }
</ul>